
**/logs
*.log*
*.suo
*.pdf

# Assets and learning material
**/Useful assets and images/

# Visual Studio files and folders
**/.vs/
**/build/bin/
**/build/intermediates/
**/build/intermediates/
**/build/testing/
**/packages/

# compilation files
*.o
